In [36]:
import pandas as pd
import numpy as np

housing = pd.read_csv("../data/interim/housing_data.csv", index_col=0)
housing.head()

,OBJECTID,NEIGH_NO,Neighborhood_Name,Neighborhood_Type,Neighborhood_Subtype,ACS_Vinatage,Occupied_Housing_Units,Owner_Households,Renter_Households,Gross_Rent_as_a_Percentage_of_Household_Income_Less_than_15.0%,...,"Owner_Costs_Less_Than_$1,000","Owner_Costs_$1,000-$1,499","Owner_Costs_$1,500-$1,999","Owner_Costs_$2,000-$2,499","Owner_Costs_$2,500-$2,999","Owner_Costs_$3,000-$3,499","Owner_Costs_$3,500-$3,999","Owner_Costs_$4,000_or_more",Owner_housing_units_without_a_mortgage,Neighborhood_Type_(outside_comp_plan_areas_id)
0,1,1.0,Council District 1,CD,NaN,5Y23,48209,27781,20428,2120,...,225,700,2397,2529,3747,3651,2926,5002,6604,CD
1,2,2.0,Council District 2,CD,NaN,5Y23,43824,21520,22304,2609,...,212,370,1700,2311,2311,2511,1916,3241,6948,CD
2,3,3.0,Council District 3,CD,NaN,5Y23,60156,20642,39514,6330,...,335,293,867,1469,1765,1845,1620,6162,6286,CD
3,4,4.0,Council District 4,CD,NaN,5Y23,42569,18939,23630,2668,...,67,252,721,1165,1544,1936,1205,5887,6162,CD
4,5,5.0,Council District 5,CD,NaN,5Y23,47887,23856,24031,2544,...,130,501,1419,2661,3083,2561,1726,4846,6929,CD

In [37]:
mortgage = housing[['Neighborhood_Name','Owner_Households','Owner_housing_units_with_a_mortgage_where_selected_monthly_onwer_costs_as_a_percentage_of_household_income_can_be_computed','Selected_Monthly_Owner_Costs_as_a_Percentage_of_Household_Income_Less_than_20.0%','Selected_Monthly_Owner_Costs_as_a_Percentage_of_Household_Income_20.0_to_24.9%','Selected_Monthly_Owner_Costs_as_a_Percentage_of_Household_Income_25.0_to_29.9%','Selected_Monthly_Owner_Costs_as_a_Percentage_of_Household_Income_30.0_to_34.9%','Selected_Monthly_Owner_Costs_as_a_Percentage_of_Household_Income_35.0%_or_more']]

new_cols = ['Neighborhood_Name','Owner_Households','Non-Zero_Cost_Owner_Households','Owner_Costs_lt_20.0%','Owner_Costs_20.0-24.9%', 'Owner_Costs_25.0-29.9%','Owner_Costs_30.0-34.9%','Owner_Costs_Over_35']

mortgage.columns = new_cols

mortgage.head()

,Neighborhood_Name,Owner_Households,Non-Zero_Cost_Owner_Households,Owner_Costs_lt_20.0%,Owner_Costs_20.0-24.9%,Owner_Costs_25.0-29.9%,Owner_Costs_30.0-34.9%,Owner_Costs_Over_35
0,Council District 1,27781,21177,9655,3853,2598,1247,3778
1,Council District 2,21520,14572,6440,2246,1493,1171,3188
2,Council District 3,20642,14356,7393,1949,1305,609,3074
3,Council District 4,18939,12777,6945,1698,1211,797,2105
4,Council District 5,23856,16927,7488,2914,1873,1172,3435

In [38]:
mortgage['Total_Under_25'] = np.sum(mortgage[['Owner_Costs_lt_20.0%','Owner_Costs_20.0-24.9%']],axis= 1)
mortgage['Ratio_Under_25'] = mortgage['Total_Under_25'] / mortgage['Owner_Households']
mortgage.head()

C:\Users\colin\AppData\Local\Temp\ipykernel_304364\2078686606.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mortgage['Total_Under_25'] = np.sum(mortgage[['Owner_Costs_lt_20.0%','Owner_Costs_20.0-24.9%']],axis= 1)
C:\Users\colin\AppData\Local\Temp\ipykernel_304364\2078686606.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mortgage['Ratio_Under_25'] = mortgage['Total_Under_25'] / mortgage['Owner_Households']

,Neighborhood_Name,Owner_Households,Non-Zero_Cost_Owner_Households,Owner_Costs_lt_20.0%,Owner_Costs_20.0-24.9%,Owner_Costs_25.0-29.9%,Owner_Costs_30.0-34.9%,Owner_Costs_Over_35,Total_Under_25,Ratio_Under_25
0,Council District 1,27781,21177,9655,3853,2598,1247,3778,13508,0.486232
1,Council District 2,21520,14572,6440,2246,1493,1171,3188,8686,0.403625
2,Council District 3,20642,14356,7393,1949,1305,609,3074,9342,0.452572
3,Council District 4,18939,12777,6945,1698,1211,797,2105,8643,0.456360
4,Council District 5,23856,16927,7488,2914,1873,1172,3435,10402,0.436033

In [39]:
mortgage

,Neighborhood_Name,Owner_Households,Non-Zero_Cost_Owner_Households,Owner_Costs_lt_20.0%,Owner_Costs_20.0-24.9%,Owner_Costs_25.0-29.9%,Owner_Costs_30.0-34.9%,Owner_Costs_Over_35,Total_Under_25,Ratio_Under_25
0,Council District 1,27781,21177,9655,3853,2598,1247,3778,13508,0.486232
1,Council District 2,21520,14572,6440,2246,1493,1171,3188,8686,0.403625
2,Council District 3,20642,14356,7393,1949,1305,609,3074,9342,0.452572
3,Council District 4,18939,12777,6945,1698,1211,797,2105,8643,0.456360
4,Council District 5,23856,16927,7488,2914,1873,1172,3435,10402,0.436033
...,...,...,...,...,...,...,...,...,...,...
87,University District,702,357,83,37,11,17,209,120,0.170940
88,Uptown,1772,1326,486,246,79,117,256,732,0.413093
89,Downtown,4979,3495,1672,714,334,178,597,2386,0.479213
90,First Hill/Capitol Hill,5017,3608,1730,681,386,95,705,2411,0.480566
91,Greater Duwamish,147,116,32,35,4,18,27,67,0.455782